section {
color: #fff;
text-align: center;
}

.container {
display: table;
width: 100%;
}

.left-half {
background-color: #ff9e2c;
position: absolute;
left: 0px;
width: 50%;
}

.right-half {
background-color: #b6701e;
position: absolute;
right: 0px;
width: 50%;
}

.remove-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    outline: none;
  }
  
  .remove-icon {
    display: inline-block;
    padding: .5rem;
    font-size: 1.2rem;
    color: #dc3545;
    transition: all 0.3s ease;
    border-radius: 0.25rem;
  }
  
  .remove-btn:hover .remove-icon {
    color: #fff;
    background-color: #dc3545;
    box-shadow: 0 0 10px #dc3545;
    border-radius: 0.25rem;
  }
  
body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to bottom right, #004d7a, #008793);
    color: #fff;
  }
  
  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
  }
  
  .login-box {
    background: #ffffff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    color: #333; 
  }
  
  .login-form {
    margin: 0;
  }
  
  .login-form h1 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .login-form label {
    float: left;
    color: #333;
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    color: #333;
  }
  
  .login-form input[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 0.25rem;
    background: #007bff;
    color: #000; 
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
  }
  
  .login-form input[type="submit"]:hover {
    background: #0056b3;
  }
  
  .login-form a {
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: center;
    margin-top: 1rem;
  }
  
  .login-form a:hover {
    text-decoration: underline;
    color: #fff;
  }
  
  .error {
    color: red;
    font-size: 0.875rem;
  }
  
  @media (max-width: 768px) {
    .login-box {
      padding: 1rem;
    }
  }
  
  .btn, .btn-light, .btn-primary, .btn-secondary, .btn-success, .btn-info, .btn-warning, .btn-danger {
    color: #000 !important; 
    font-weight: bold;
  }
  
  h1, h2, h3, h4, h5, h6, p, a, label {
    font-family: 'Lato', sans-serif;
    font-size: larger;
    font-weight: bold; 
  }
  a {
    color: #fff; 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
    color: #fff; 
}