{% extends "base.html" %}

{% block content %}
<br><br>
<h2>Cart Items:</h2>

<form method = "POST" action="{{ url_for('carts.update_all_quantities') }}">
  <script>
    function redirectToProductDetails(pid) {
      var baseUrl = "{{ url_for('carts.product_details', pid=0) }}";
      var urlWithPid = baseUrl.replace('0', pid);
      window.location = urlWithPid;
    }
  </script>
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Seller Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total Price</th>
        <th scope="col">Remove</th>
        <th scope="col">Add to Wishlist</th>
      </tr>
    </thead>

    {% set cart_totals = namespace(total=0) %}

    <tbody>
      {% for item in cart_items %}
      {% set item_total = item.price * item.qty %}
      {% set cart_totals.total = cart_totals.total + item_total %}
        <tr>
          <td onclick="redirectToProductDetails({{ item.pid }});">{{ item.product_name }}</td>
          <td>{{ item.seller_name }}</td>
          <td>${{ '%0.2f' % item.price }}</td>
          <td>
            <input type="number" name="quantity_{{ item.id }}_{{ item.pid }}_{{ item.sid }}" value="{{ item.qty }}" min="1" class="form-control">
          </td>
          <td>${{ '%0.2f' % item_total }}</td>
          <td>
            <form method = "POST" action="{{ url_for('carts.remove_item', id=item.id, pid=item.pid, sid=item.sid) }} ">
              <input type="hidden" name="user_id" value="{{ uid }}">
              <button type="submit" class="btn remove-btn">
                <span class="remove-icon">&times;</span>
              </button>
            </form>
          </td>
          <td>
            <form method="POST" action="{{ url_for('carts.add_to_wishlist', id=item.id) }}">
              <button type="submit" class="wishlist-btn"></button>
              </button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
  <tr>
    <td colspan="3" class="text-right"><strong>Cart Total:</strong></td>
    <td colspan="2">${{ '%0.2f' % cart_totals.total }}</td>
  </tr>
</tfoot>
  </table>

  
  <input type="hidden" name="user_id" value="{{ uid }}">


  <div class="text-right">
    <button type="submit" class="btn btn-success btn-lg cart-action-btn" formaction="{{ url_for('carts.view_wishlist', uid=current_user.id) }}">View Wishlist</button>
    <button type="submit" class="btn btn-info btn-lg cart-action-btn">Update Quantities</button>
    <button type="submit" class="btn btn-success btn-lg cart-action-btn" formaction="{{ url_for('carts.submit_cart') }}">Submit Cart</button>
  </div>
</form>

{% endblock %}
