{% extends "base.html" %}

{% block content %}

<div class="text-center mt-5">
  <form class="form-inline" action="{{ url_for('products.get_products') }}" method="post">
    <label class="mr-2" for="keywords">Search for Products:</label>
    <input type="text" class="form-control mr-2" name="keywords" id="keywords" required style="width: 50%;">
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>
<br><br>

<h2 class="text-center">Products for sale:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products %}
      <tr>
        <th scope="row">{{ product.id }}</th>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>
          <img src="{{ product.image_url }}" alt="{{ product.name }} Image" width="100" height="100">
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>



{% endblock %}
