{% extends "base.html" %}

{% block content %}

<br><br>
<!-- Seller Inventory Search Form -->
<form action="{{ url_for('users.redirect_to_seller_inventory') }}" method="post">
  <label for="user_id">Search Seller's Inventory by Seller's UID:</label>
  <input type="text" name="user_id" id="user_id" required>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
<br><br>

<br><br>

<form action="{{ url_for('products.get_top_k_products')}}"
    method="post">
  <label for="k">Enter the number of most expensive products:</label>
  <input type="text" name="k" id="k" required>
  <button type="submit" class="btn btn-primary">Go</button>
</form>

<br><br>

<h2>Products for sale:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products%}
      <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>
{% if current_user.is_authenticated %}
<h2>Your recent purchases:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Purchase ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history%}
      <tr>
        <th scope="row">{{purchase.id}}</th>
        <td>{{purchase.pid}}</td>
        <td>{{purchase.time_purchased}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history!</p>
{% endif %}

{% endblock %}
