{% extends "base.html" %}

{% block content %}

<br><br>
<body>
  <a href="{{ url_for('index.index') }}" type="button" class="btn btn-light">Home</a>
</body>
<br><br>

<h2>Available Products</h2>

<div class="form-group">
  <form action="{{ url_for('products.get_products', keywords=keywords, category=category) }}" method="GET" id="filterForm">
    <label for="categorySelect">Select a Category:</label>
    <select class="form-control" name="category" id="categorySelect" onchange="this.form.submit()">
      <option value="all">--</option>
      <option value="Electronics">Electronics</option>
      <option value="Fashion and Apparel">Fashion and Apparel</option>
      <option value="Home and Garden">Home and Garden</option>
      <option value="Books and Media">Books and Media</option>
      <option value="Health and Beauty">Health and Beauty</option>
    </select>
    <button type="submit" class="btn btn-primary">Filter</button>
  </form>
</div>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
      <th scope="col">Category</th>
      <th scope="col">Image</th>
      <th scope="col">Availability</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products%}
      <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.description}}</td>
        <td>{{product.category}}</td>
        <td>
          <img src="{{ product.image_url }}" alt="{{ product.name }} Image" width="100" height="100">
        </td>
        <td>
          <span class="{% if product.available %}text-success{% else %}text-danger{% endif %}">
            {% if product.available %}
              In Stock
            {% else %}
              Out of Stock
            {% endif %}
          </span>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<nav aria-label="Page navigation">
  <ul class="pagination">
    {% set total_pages = (total // per_page) + (1 if total % per_page > 0 else 0) %}
    {% for p in range(1, total_pages + 1) %}
    <li class="page-item {% if p == page %}active{% endif %}">
      <a class="page-link" href="{{ url_for('products.get_products', page=p, keywords=keywords, category=category) }}">{{ p }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>

{% endblock %}
