{% extends "base.html" %}

{% block content %}

<br><br>

<body>
  <a href="{{ url_for('index.index') }}" type="button" class="btn btn-light">Home</a>
</body>

<h2>Reviews:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Stars</th>
      <th scope="col">Description</th>
      <th scope="col">Upvotes</th>
      <th scope="col">Downvotes</th>
      <th scope="col">Time Reviewed</th>
    </tr>
  </thead>

  <tbody>
    {% for rating in ratings%}
      <tr>
        <th scope="row">{{rating.product_name}}</th>
        <td>{{rating.stars}}</td>
        <td>{{rating.description}}</td>
        <td>{{rating.upvotes}}</td>
        <td>{{rating.downvotes}}</td>
        <td>{{rating.time_reviewed}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

