{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Top K Most Expensive Products</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for product in top_k_products%}
      <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>

{% endblock %}
